<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Footer - BookExpress</title>

</head>
<body>
    <footer class="footer" id="footerFoot">
        <div class="footBox">
            <img class="logo" src="/public/images/logoWEB2.png" alt=""> <br>
            <span class="copyW">Colombia - Argentina - Uruguay</span><br>
            <span class="copyW">hola@bookexpress.com</span>
            <div class="iconos">
                <a href="#"><i class="fi-brands-github "></i></a>
                <a href="#"><i class="fi-brands-facebook "></i></a>
                <a href="#"><i class="fi-brands-instagram "></i></a>
            </div>
        </div>
        <div class="footBox">
            <span class="copyW">Somos una biblioteca digital, en la cual podrás 
                encontrar gran varidad 
de libros educaticos hasta libros de entretenimiento</span>
        </div>
        <div class="footBox"> 
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Tienda</a></li>
            <li><a href="/login">Acceder</a></li>
            <li><a href="/register">Registrarse</a></li>
            <li><a href="/productCart">Carrito Compras</a></li>
        </div>
    </footer>

    <footer>
        <div class="footBox2">
            <span class="copyW"><span class="copy">&copy;</span> 2022 BookExpress</span>
        </div>
    </footer>
</body>
</html>