        
        <header class="encabezado">
            <div class="logo"> 
                <img class="pequeña" src="/images/favicon.svg" alt="logo">
                <!-- <span class="Book">Book</span>
                <span class="Express">Express</span> -->
          </div>
        <div class="menu"> 
            <nav class="menuIzquierdo">
                <ul class="opcionesIzquierdo">
                    <li> <a href="/">inicio</a> </li>
                    <li> <a href="products/productCart">Carrito Compras</a> </li>
                    <li> <a href="products">Tienda</a> </li>
                    <li> <a href="#footerFoot">Contacto</a> </li>
                </ul>
                 </nav>
                 <nav class="menuDerecho">
                    <ul class="opcionesDerecho">
                        <% if (!locals.userLogged) { %>
                        <li><a href="users/login">Acceder</a></li>
                        <li><a href="users/register">Registrarse</a></li> <% } %> 
                        <% if (locals.userLogged) { %>
                            <a href="/users/profile"><h2 class="nameUser"> ¡Hola <%= locals.userLogged.nombre%>!</h2></a>
                            <img class="imgUser" src="/images/users/<%= locals.userLogged.imagen ? locals.userLogged.imagen : 'default.png' %>" alt="imagen de usuario">
                            <a href="/users/logout"> <button type="button"> Log Out</button> </a> 
                          <%  } else { %> 
                          <% } %>
                     
                    </ul>
                 </nav>
                 
        </div>
        </header>