    <header class="headerM" id="headerMenu">
        
        <div class="inner-width">
            <div>
                <a href="/"><img class="logoIMG" src="/images/favicon.svg" alt="inoco BookExpress"></a>
                <span class="Book">Book</span>
                <span class="Express">Express</span>
            </div>
            <div class="menu-icon">
                <i class="fas fa-bars"></i>
            </div>
        </div>

    <div class="navigation-menu">
        <nav>
            <li><a href="/views/index.ejs">Inicio</a></li>
            <li><a href="#">Tienda</a></li>
            <li><a href="/login">Acceder</a></li>
            <li><a href="/register">Registrarse</a></li>
            <li><a href="/productCart">Carrito Compras</a></li>
        </nav>

  <body>
    <header id="headerMenu">
      <div class="inner-width">
        <div>
          <a href="/views/index.ejs"
            ><img class="logoIMG" src="/images/favicon.svg" alt="icono bookexpress"
          /></a>
          <span class="Book">Book</span>
          <span class="Express">Express</span>
        </div>
        <div class="menu-icon">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </header>

    <div class="navigation-menu">
      <nav>
        <li><a href="/views/index.ejs">Inicio</a></li>
        <li><a href="#">Tienda</a></li>
        <li><a href="/views/login.ejs">Acceder</a></li>
        <li><a href="/views/register.ejs">Registrarse</a></li>
        <li><a href="/views/productCart.ejs">Carrito Compras</a></li>
      </nav>
    </div>
    
    </header>

    <script>
        $(".menu-icon").click(function () {
            $(this).toggleClass("active");
            $(".navigation-menu").toggleClass("active");
            $(".menu-icon i").toggleClass("fa-times");
        });

      $(".menu-icon").click(function () {
        $(this).toggleClass("active");
        $(".navigation-menu").toggleClass("active");
        $(".menu-icon i").toggleClass("fa-times");
      });
    </script>
  </body>
</html>
