        
        <div class="inner-width">
            <div>
                <a href="/"><img class="logoIMG" src="/images/favicon.svg" alt="inoco BookExpress"></a>
                <span class="Book">Book</span>
                <span class="Express">Express</span>
            </div>
            <div class="menu-icon">
                <i class="fas fa-bars"></i>
            </div>
        </div>

    <div class="options-menu">
        <nav class="nav">
            <ul class="list">
            <li class="list__item">
                <div class="list__button"><a href="/">Inicio</a>
                </div>
            </li>
            <li class="list__item">
                <div class="list__button--click">
                    <i class="fa-thin fa-chevron-right"></i>
                    <a href="/">Categorias</a>
                </div>
            </li>
            <li class="list__item">
                <div class="list__button"><a href="/login">Acceder</a>
            </div></li>
            <li class="list__item">
                <div class="list__button"><a href="/register">Registrarse</a></div></li>
        </ul>
        </nav>

   

