        
        <header class="encabezado">
            <div class="logo"> 
                <img class="pequeña" src="/images/favicon.svg" alt="logo">
                <!-- <span class="Book">Book</span>
                <span class="Express">Express</span> -->
          </div>
        <div class="menu"> 
            <nav class="menuIzquierdo">
                <ul class="opcionesIzquierdo">
                    <li> <a href="/">inicio</a> </li>
                    <li> <a href="products/productCart">carrito compras</a> </li>
                    <li> <a href="products">tienda</a> </li>
                    <li> <a href="#footerFoot">contacto</a> </li>
                </ul>
                 </nav>
                 <nav class="menuDerecho">
                    <ul class="opcionesDerecho">
                        <li><a href="users/login">acceder</a></li>
                        <li><a href="users/register">registrarse</a></li>
                    </ul>
                 </nav>
                 
        </div>
        </header>