    <header class="headerM" id="headerMenu">
        
        <div class="inner-width">
            <div>
                <a href="/"><img class="logoIMG" src="/images/favicon.svg" alt="inoco BookExpress"></a>
                <span class="Book">Book</span>
                <span class="Express">Express</span>
            </div>
            <div class="menu-icon">
                <i class="fas fa-bars"></i>
            </div>
        </div>

    <div class="navigation-menu">
        <nav>
            <li><a href="/views/index.ejs">Inicio</a></li>
            <li><a href="#">Tienda</a></li>
            <li><a href="/login">Acceder</a></li>
            <li><a href="/register">Registrarse</a></li>
            <li><a href="/productCart">Carrito Compras</a></li>
        </nav>

    </header>

    <script>
        $(".menu-icon").click(function () {
            $(this).toggleClass("active");
            $(".navigation-menu").toggleClass("active");
            $(".menu-icon i").toggleClass("fa-times");
        });

      $(".menu-icon").click(function () {
        $(this).toggleClass("active");
        $(".navigation-menu").toggleClass("active");
        $(".menu-icon i").toggleClass("fa-times");
      });
    </script>

