        
        <header class="encabezado">
            <div class="logo"> 
                <img class="pequeña" src="/images/favicon.svg" alt="logo">
                <!-- <span class="Book">Book</span>
                <span class="Express">Express</span> -->
          </div>
        <div class="menu"> 
            <nav class="menuIzquierdo">
                <ul class="opcionesIzquierdo">
                    <li> <a href="#">inicio</a> </li>
                    <li> <a href="#">carrito compras</a> </li>
                    <li> <a href="#">tienda</a> </li>
                    <li> <a href="#">contacto</a> </li>
                </ul>
                 </nav>
                 <nav class="menuDerecho">
                    <ul class="opcionesDerecho">
                        <li><a href="#">acceder</a></li>
                        <li><a href="#">registrarse</a></li>
                        
                    </ul>
        
                 </nav>
        </div>
        </header>