<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/footer.css">
    <title>Footer - BookExpress</title>

</head>
<body>
    <footer class="footer">

        <div class="footBox">
            <img class="logo" src="/public/images/logoWEB2.png" alt=""> <br>
            <span>Colombia - Argentina - Uruguay</span><br>
            <span>hola@bookexpress.com</span>

            <div class="iconos">
                <i class="fi fi-brands-github "></i>
                <i class="fi fi-brands-facebook "></i>
                <i class="fi fi-brands-instagram "></i>
            </div>


        </div>

        <div class="footBox">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium ipsa cupiditate possimus, quisquam libero beatae
                delectus repellendus quis impedit temporibus doloribus est 
                totam incidunt, animi odio accusantium quae mollitia porro?</span>
        </div>

        <div class="footBox"> 
            <li><a href="/views/index.html">Inicio</a></li>
            <li><a href="#">Tienda</a></li>
            <li><a href="/views/login.html">Acceder</a></li>
            <li><a href="/views/register.html">Registrarse</a></li>
            <li><a href="#">Carrito Compras</a></li>
        </div>

    </footer>

    <footer>
        <div class="footBox2">
            <span><span class="copy">&copy;</span> 2022 BookExpress</span>
        </div>
    </footer>
</body>
</html>