<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <div>
        <ul class="errores"></ul>
        <section id="formulario">
        <div class="logoBox">
            <a href="/"><img class="logo" src="/images/favicon.svg" alt=""></a>
        </div>
        <form action="/users/login" method="post" class="form">
            <div class="inputBox">
                <input type="text" id="email" name="email">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                <% } %>
                <span>Email</span>
            </div>

            <div class="inputBox">
                <input type="password" id="password" name="password">
                <span>Contraseña</span>
            </div>

            <div class="passBox">
                <div class="guardarContra">
                    <input class="cbox" id="guardarPass" type="checkbox" name="recordame">
                    <span class="guardar">Guardar Contraseña</span>
                </div>
                <div class="OlvidarContra">
                    <a class="link" href="#">Olvidaste tu contraseña?</a>
                </div>
            </div>

            <div class="botonBox">
                <button class="boton" type="submit">Acceder</button>
            </div>

            <div class="crear_cuenta">
                <div class="guardarContra">
                    <span class="guardar">No tienes cuenta aún?</span>
                </div>
                <div class="OlvidarContra">
                    <a class="link" href="./register">Crear Cuenta</a>
                </div>
            </div>

            <div class="termBox">
                <span><a class="link" href="">Términos y condiciones</a></span>
            </div>

        </form>
    </section>    
    </div>
    <script src="/js/loginScript.js"></script>
</body>
</html>