<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BOOKEXPRESS</title>
    <link rel="stylesheet" href="/public/css/main.css"> ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
   
</head>
<body>
    <main>
        <section class="imagen-main">
            <img src="/public/images/foto-main.jpg" alt="imagen main">
        </section>
        <section class="main-concepto"> 
            <!-- es el contenedor principar de mi elemento concepto -->
            <div class="main-concepto-container">
                <!-- este es el contenedor padre que llevan los elementos del concepto -->
                <h1 class="titulo"> QUIENES SOMOS?
                </h1> 
                <!-- este h1 nos va a servir para generar un titulo -->
                
               
                <p class="texto">  Una biblioteca digital que busca conectar <br> 
                
                la comunidad entre alumnos, profesores e <br> instituciones educativas…  </p>
                <!-- este p nos sirve para generar texto -->
                <a class="mas-icon" href=""></a>
                <!-- el icono mas nos lleva a otra pagina que detalla mision y vision  -->
            </div>
        </section>
        <section class="main-items">
            <div class ="main-items-container">
                <ul class="main-items-lista"> <!--Lista desordenada: Sin numerar-->

                    <li>matemática</li>
                    <li>ciencias sociales</li>
                    <li>geografía</li>
                    <li>ingles</li>
                    <li>ciencias físicas</li>
                    <li>historia</li>
                    <li>astronomía</li>
                    <li>informática</li>
                    <li>literatura</li>
                    <li>química</li>
                    <li>ciencias biológicas</li>
                    <li>dibujo</li>
                    <li>ciencias económicas</li>
                    <li>educación física</li>


                    
            
                  </ul>
                
            </div>
           
        </section>
    </main>
</body>
</html>