<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BOOKEXPRESS</title>
    <link rel="stylesheet" href="/public/css/main.css" > 
   
</head>
<body>
    <main>
        <section class="body-main">
        
          
        <section class="main-concepto"> 
            <!-- es el contenedor principar de mi elemento concepto -->
            <div class="main-concepto-container">
                <!-- este es el contenedor padre que llevan los elementos del concepto -->
                <h1 class="titulo"> QUIENES SOMOS?
                </h1> 
                <!-- este h1 nos va a servir para generar un titulo -->
                
               
                <p class="texto">  Una biblioteca digital que busca conectar <br> 
                
                la comunidad entre alumnos, profesores e <br> instituciones educativas…  </p>
                <!-- este p nos sirve para generar texto -->
                <a class="mas-icon" href=""></a>
                <!-- el icono mas nos lleva a otra pagina que detalla mision y vision  -->
            </div>
        </section>
        <img src="/public/images/foto-main.jpg" alt=" persona"> 
        <section class="main-items">
            <div class ="main-items-container">
                <ul class="main-items-lista"> <!--Lista desordenada: Sin numerar-->

                    <li> <a href="#">matemática</a></li>
                    <li> <a href="#"> ciencias sociales</a></li>
                    <li><a href="#"> geografía</a></li>
                    <li><a href="#"> ingles</a></li>
                    <li> <a href="#"> ciencias fisicas</a></li>
                    <li> <a href="#"> historia</a></li>
                    <li> <a href="#"> astronomia</a></li>
                    <li> <a href="#"> informática</a></li> 
                    <li><a href="#"> literatura</a></li>
                    <li><a href="#"> quimica</a></li>
                    <li> <a href="#"> ciencias biológicas</a></li>
                    <li> <a href="#"> dibujo</a></li>
                    <li><a href="#"> ciencias económicas</a></li>
                    <li><a href="#"> educación física </a></li>


                    
            
                  </ul>
                
            </div>
           
        </section>
        <section>
            <article>
                <div><img src= "/public/images/alumna .jpg" alt="alumna"></div>
                <div><h1 class="nombre">María, estudiante</h1></div>
                <div>
                    <p> Gracias a bookExpress puedo conectar
                    Con estudiantes de otros lugares, esta 
                    Comunidad es genial!
                    </p>
                </div>
             </article>
            <article> 
                <div><img src=  "/public/images/docente .jpg" alt="docente">  </div>
                <div> 
                    <h1 class="nombre" >Claudia, docente</h1>
                </div>
                <div> 
                    <p> Una herramienta muy útil para dialogar
                    Con otros colegas, saber dónde están los
                    Problemas y buscar soluciones colaborativas
                    </p>
                </div> 
            </article> 
         <article>
               <div> <img src="/public/images/alumno .jpg" alt="alumno"></div>
               <div> 
                <h1 class="nombre">Juan, estudiante</h1>
               </div>
               <div>
                <p>
                ¡Nunca más a las fotocopias! bookExpress me 
                Permite centralizar mis libros en un solo dispositivos,
                Y lo mas importante, colaboro con el medio ambiente 
               </p>
               </div> 
         </article>   
        </section>

    </main>
</body>
</html>