<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="/images/favicon.svg"/>
    <link href="/css/productCart.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Carrito de compras</title>
</head>
<body>
   
   <header>
        
        <div class="inner-width">
            <div>
                <a href="/views/index.html"><img class="logo1" src="/images/favicon.svg" alt=""></a>
                <span class="BookExpress"> <img src="/images/logoWEB.png" height="38"></span>
            </div>
            <div class="menu-icon">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>

    <br>

   <div class="container">
      <section id="carrito">
        <ul class="menu">
          <li >Carrito</li>
        </ul>
      </section>  
      <section>
        <table summary="Carrito">
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Precio</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Subtotal</th>
              <th scope="col">Eliminar artículo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"> Producto tal tal</th>
              <td>$9.99</td>
              <td><input class="menuQ" type="number"></td>
              <td>$9.99</td>
              <td><button type="button"><img height="26" width="28" src="/images/cesto-basura.png"></button></td>
            </tr>
            <tr>
              <th scope="row"> Producto tal tal</th>
              <td>$9.99</td>
              <td><input class="menuQ" type="number"></td>
              <td>$9.99</td>
              <td><button type="button"><img height="26" width="28" src="/images/cesto-basura.png"></button></td>
            </tr>
          </tbody>
        </table>
        <table>
          <tbody>  
            <tr>
              <th class="total" scope="row">Total Compra</th>
              <td></td>
              <td></td>
              <th class="total">$19.99</th>
              <td></td>
            </tr>    
          </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><button class="pagar" type="button">PAGAR</button></td>
              <td> <button class="reseteo" type="reset"> VACIAR CARRITO </button></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>   
    <br> 
    <div class="container">
      <section id="guardados">
        <ul class="menu">
          <li>Guardados</li>
        </ul>
      </section>  
      <section>
        <table summary="Guardados">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Agregar al carrito</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"> Producto tal tal</th>
                <td>$9.99</td>
                <td><input class="menuQ" type="number"></td>
                <td>$9.99</td>
                <td><button type="button"><img height="28" src="/images/flecha.png"></button></td>
              </tr>
              <tr>
                <th scope="row"> Producto tal tal</th>
                <td>$9.99</td>
                <td><input class="menuQ" type="number"></td>
                <td>$9.99</td>
                <td><button type="button"><img height="28" src="/images/flecha.png"></button></td>
              </tr>
            </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td> <button class="reseteo" type="reset"> VACIAR GUARDADOS </button></td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>   
  <br> 
    <div class="botonBox">
      <button class="boton">Seguir comprando</button>
       </div>  
</body>        
<footer >
  <iframe class="iFooter" src="/views/footer.html" frameborder="0"></iframe>
</footer>
</html>