<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/svg" href="/images/favicon.svg"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1bd3b3afa4.js" crossorigin="anonymous"></script>
    <link href="/css/productDetail.css" rel="stylesheet" >
    <title>Detalle del Producto</title>
</head>
<body>
    <!-- <header> -->

        <!-- <header id="headerMenu"> -->
        
            <!-- <div class="inner-width"> -->
                <!-- <div> -->
                    <!-- <a href="/views/header.html"><img class="logo" src="/images/favicon.svg" alt=""></a> -->
                    <!-- <span class="Book">Book</span>
                    <span class="Express">Express</span>
                </div>
                <div class="menu-icon">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </header>
     -->

    <main>

<section>

<article>
   <div> 
    <img src="" alt="">
   </div>
   <div>
    <h1>La revolución industrial</h1>
    <p> Las economías preindustriales producían pocos bienes y servicios <br>
         y experimentaban un nulo o débil crecimiento. <br>
          Entre fines del siglo XVIII las últimas décadas del XIX,<br>
           la Revolución Industrial logró superar esa situación de pobreza y estancamiento, <br>
            incrementando la productividad del trabajo humano y originando por primera vez en la Historia <br>
             un crecimiento económico sostenido. </p>
   </div>
<div>
<p>Números de paginas</p>
<p>idioma</p>
<p>editorial</p>
<p>fecha de públicación</p>
<p>categoria</p>

</div>
<div>
      <div><img src="" alt=" imagen libro historia"></div>
    <div> <p>seguir al autor</p></div>
    <div> <button> <p>seguir</p></button>  </div>
</div>


</article>


</section>

<section>
<div> <h1> Relacionados por categoria</h1></div>
<div> <img src="" alt="">
<p> descubrimiento de américa</p>
</div>
<div> <img src="" alt="">
<p> Segunda guerra mundial</p></div>
<div>
    <img src="" alt="">
    <p>el tratado de versalles</p>
</div>



</section>


    </main>

</body>

</html>