<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/svg" href="/images/favicon.svg"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1bd3b3afa4.js" crossorigin="anonymous"></script>
    <link href="/css/productDetail.css" rel="stylesheet" >
    <title>Detalle del Producto</title>
</head>
<body>
    <header>  
        <div class="top-header">
            <div class="main-header-top-bar">
                <a href="/views/header.html"><img class="logo" src="/images/favicon.svg" alt="logobe"></a>
                <span class="Book">Book </span>
                <span class="Express"> Express</span>
            </div>  
            <div class="form" action="#" method="GET">
                <i class="fa-solid fa-magnifying-glass"></i>
                <div class="input">Buscar</div>
            </div>
            <nav class="main-header-bar">
                <ul class="header-navbar">
                    <li ><i class="fa-solid fa-arrow-right-to-bracket"></i><a href="#"> Acceder</a></li>
                    <li ><i class="fa-solid fa-user-plus"></i><a href="#">Cuentas</a></li>
                    <li ><i class="fa-solid fa-cart-shopping"></i><a href="#">Compras</a></li>
                </ul>
            </nav>
    </header>
    <main>
        <section id="producto "class="contenedor-detalle-producto">
            <div class="detail-product">
                <div class="columna1">
                    <div class="titulo-libro">
                        Aniquilación
                    </div>
                    <div class="autor-libro">
                        Michael Houellebecq
                    </div>
                    <div class="caja1">
                        <div class="fila1">
                            <div class="imagen">
                                <div class="favorito"></div>
                                <i class="fa-solid fa-heart"></i>
                                Agregar a Favoritos
                            </div>
                            <img src="/images/aniquilación.jpg" alt="imgportada" class="product_img">
                        </div>
                        <div class="fila2">
                            <div class="formato-libro">
                                Formato 
                                <div class="tipo-formato"></div>
                                Digital
                            </div>
                            <div class="autor-libro">
                                Autor 
                                <div class="tipo-formato"></div>
                                Michael Houellebecq
                            </div>
                            <div class="editorial-libro">
                                Editorial 
                                <div class="editorial"></div>
                                Anagrama
                            </div>
                            <div class="categoria-libro">
                                Categoria 
                                <div class="editorial"></div>
                                Novela
                            </div>
                            <div class="anio-libro">
                                Año 
                                <div class="anio"></div>
                                2022
                            </div>
                            <div class="idioma-libro">
                                Idioma 
                                <div class="idioma"></div>
                                Español
                            </div>
                            <div class="num-pag-libro">
                                No. de Páginas 
                                <div class="num-pag"></div>
                                608
                            </div>
                            <div class="ISBN-libro">
                                ISBN 
                                <div class="isbn"></div>
                                9788433981219
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columna2">
                    <div class="columna2-fila1">
                        <div class="titulo-columna2-libro">
                            Aniquilación
                        </div>
                        <div class="columna2-autor-libro">
                            Michael Houellebecq
                            <div class="col2-aut-lib-editorial">
                                Anagrama
                            </div>
                        </div>
                        <div class="precio-libro">
                            <div class="precio">
                                $ 69.900.00
                                <div class="precio-sin-descuento"></div>
                                $ 95.000.00
                            </div>
                            <div class="ahorro-libro">
                                Ahorras
                                <div class="descuento"></div>
                                $ 25.100.00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>