<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="/images/favicon.svg"/>
    <link href="/css/productCart.css" rel="stylesheet" >
    <title>Carrito de compras</title>
</head>
<body>
   
   <header>
        
        <div class="inner-width">
            <div>
                <a href="/views/index.html"><img class="logo" src="/images/favicon.svg" alt=""></a>
                <span class="Book">Book</span>
                <span class="Express">Express</span>
            </div>
            <div class="menu-icon">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <br>
    <section>Carrito</section> 
        <ul>
            <li class="option">
                Producto
            </li>
            <li class="option"> 
                Precio
            </li>
            <li class="option">
                Cantidad
            </li>
            <li class="option"> 
                Subtotal
            </li>
        </ul>   
    <br> 
    <section>Guardados</section> 
        <ul>
            <li class="option">
                Producto
            </li>
            <li class="option"> 
                Precio
            </li>
            <li class="option">
                Cantidad
            </li>
            <li class="option"> 
                Subtotal
            </li>
        </ul>    
</body>
</html>