:root{
    --bs-azul: #3452b2;
    --bs-azulClaro: #6486f2;
    --bs-naranja: #ff7700;
    --bs-oscuro: #040615;
    --bs-gris: #f2f4f5;
    --bs-blanco: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Istok Web', sans-serif;
}

 body{
    background: rgb(52,82,178);

 }
.footer {
    background: rgb(52,82,178);
    /* background: linear-gradient(0deg, rgba(52,82,178,1) 41%, rgba(100,134,242,1) 100%); */
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.footBox {
    padding: 50px;
    width: 30%;
}

.logo{
    width: 200px;
}

.iconos {
    width: 100%;
    padding-left: 50px;
    margin-top: 10px;
}

.fi-brands-github {
    width: 100px;
    color: var(--bs-blanco);
}
.fi-brands-facebook {
    width: 100px;
    color: var(--bs-blanco);
    
}

.fi-brands-instagram {
    width: 100px;
    color: var(--bs-blanco);
}


.footBox2 {
    background-color: var(--bs-azul);
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: solid 1px var(--bs-azulClaro);
    padding: 10px;
}

li {
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--bs-blanco);
}

a:hover {
    transition: 0.4s;
    color: #f84904;

}

.copy {
    color: var(--bs-naranja);
}

.copyW {
    color: var(--bs-blanco);
}