:root{
    --bs-azul: #3452b2;
    --bs-azulClaro: #6486f2;
    --bs-naranja: #ff7700;
    --bs-oscuro: #040615;
    --bs-gris: #f2f4f5;
    --bs-blanco: #ffffff;
} 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

ul{
    list-style-type: none;
}

a{
text-decoration: none;
}

img{
    width: 100%;
}
.encabezado{
   
    
        display: flex;
        /* justify-content: center; */
        width: 100% ;
        height: 70px;
         text-align: center; 
    

}

nav.menuIzquierdo ul li a, nav.menuDerecho ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;  
    color: black;
    size: 3px;
    

}

nav.menuIzquierdo ul li a:hover, nav.menuDerecho ul li a:hover {
    /* text-decoration: underline; */
    color: black;  
    background-color: #ff7700;
    

}

img.pequeña{
    width: 80px;
    height: 80px;
    
  }

  .Book {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #3452b2;
    font-size: 2em;
}

.Express {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 100;
    color: #6486f2;
    margin-left: -10px;
    font-size: 2em;
}




.menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menuIzquierdo{

   display: flex;
    width: 40%;
    align-items: center ;
   justify-content: center;
   
    

}

.menuDerecho{

    display: flex;
   width: 30%;
   align-items: center ;
   justify-content: center;
   
     
}
.opcionesDerecho{
   
    display: flex;
    justify-content: space-around;
    width: 80%;
    
   

}

.opcionesIzquierdo{
   
    display: flex;
    justify-content: space-around;
   width: 80%;
   align-items: flex-end;
   
}

nav.menuIzquierdo ul li a, nav.menuDerecho ul li a {
        
    font-size: 1.1ren;  
    
    

}

.imgUser {
    display: flex;
    width: 65px;
    height: 65px;
    border-color: #040615;
    border-style: double;
}






  

