:root{
    --bs-azul: #3452b2;
    --bs-azulClaro: #6486f2;
    --bs-naranja: #ff7700;
    --bs-oscuro: #040615;
    --bs-gris: #f2f4f5;
    --bs-blanco: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Istok Web', sans-serif;
    box-sizing: border-box;
}

.iFooter {
    margin-top: 50px;
    width: 100% !important;
    height: 340px !important;
}

.iHeader {
    width: 100% !important;
    height: 78px;
}

body {
    background-color: rgb(236, 236, 236);
}


/* SLIDER */
@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.slider-frame {
	width: 100%;
    height: auto;
	margin:5px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 5s infinite alternate ease-in-out;
	-webkit-animation: slide 7s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

/* FIN SLIDER */

/* RECOMENDADOS NOVEDADES MAS VENDIDOS  */
.recomendadosNovedades{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bs-blanco);
}

.recomendados{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    padding-left: 50px;
}


.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li > a {
padding: 15px 15px;
color: var(--bs-azul);
text-decoration: none;
}

.menu li a:hover {
    color: var(--bs-naranja);
    border-bottom: #ff7700 solid 2px;
    transition: 0.2s;

}

.imagenesRecomendados{
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.cajaImg {
    width: 15%;
    background-color: #ff7700;
    height: 300px;

    
}
.cajaImg:hover{
    background-color: rgba(44, 30, 240, 0.5);
}



/*  FIN RECOMENDADOS NOVEDADES MAS VENDIDOS  */


.quienes-somos{
    border: 3px solid grey;
    width: auto;
    height: 180px;
}
.titulo{
    border: 1px solid grey;
    width: 300px;
    border-radius: 5px;
    position: relative;
    top: 50px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
}
.titulo:hover{
border-radius: 20px;
background-color: orange;
position: relative;
top: 25px;
}
.texto{
    border: 1px solid grey;
    width: 500px;
    position: relative;
    left: 30%;
    top: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 80, 156);
    }
    .texto-contenido{
      color: white;
      size: 20px;
    }
.mas{
    border: 1px solid grey;
    width: 80px;
    position: relative;
    left: 70%;
    top: 40px;
    border-radius: 5px;
}
.categoria-de-estudio{
    border: 3px solid grey;
    width: auto;
    margin-top: 3px;
    border-radius: 5px;
    height: 800px;
}
.title{
    border: 3px solid grey;
    width: 300px;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
    left: 40%;
    top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
}
.title:hover{
    border-radius: 20px;
    background-color: orange;
    position: relative;
    left: 400px;
    }
    
.main-items-container{
    border: 3px solid grey;
    width:auto;
    border-radius: 5px;
    position: relative;
    top: 60px;
    background-color:  rgb(80, 80, 156); 
}
.uno{
    border: 1px solid grey;
width: 160px;
position: relative;
left:1050px;
border-radius: 5px;
display: flex;
    justify-content: center;
    align-items: center;
}
.estilo{
    color: white;
    transition: all 2s;
}
.estilo:hover{
    border-radius: 20px;
    background-color: orange;
    position: relative;
    right: 5px;
    color: rgb(22, 21, 21) ;
    size: 30px;
    }
.dos{
    border: 1px solid grey;
    width: 160px;
    position: relative;
    left:10%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tres{
    border: 1px solid grey;
    width: 160px;
    position: relative;
    left:50%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuatro{
    border: 1px solid grey;
    width: 160px;
    position: relative;
    left:330px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cinco{
    border: 1px solid grey;
    width: 160px;
    position: relative;
    left:700px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seis{
    border: 1px solid grey;
    width: 160px;
    position: relative;
    left:923px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.siete{
    border: 1px solid grey;
    width: 160px;
    position: relative;
    left:50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ocho{
    border: 1px solid grey;
    width: 160px;
    position: relative;
    left:700px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nueve{
    border: 1px solid grey;
    width: 160px;
    position: relative;
    left:300px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.diez{
    border: 1px solid grey;
    width: 160px;
    position: relative;
    left:900px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.once{
    border: 1px solid grey;
    width: 160px;
    position: relative;
    left: 573px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.doce{
    border: 1px solid grey;
    width: 160px;
    position: relative;
    left: 1000px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trece{
    border: 1px solid grey;
    width: 160px;
    position: relative;
    left:30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.catorce{
    border: 1px solid grey;
    width: 160px;
    position: relative;
    left: 300px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quince{
    border: 1px solid grey;
    width: 160px;
    position: relative;
    left:200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo2{
    border: 1px solid grey;
    width: 300px;
    margin-top:4px ;
    position: relative;
    left: 40%;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 2s;
}
.titulo2:hover{
    border-radius: 20px;
    background-color: orange;
    position: relative;
    right: 470px;
    color: rgb(22, 21, 21) ;
     }
.libro-destacado{
    border: 1px solid grey;
    width: 400px;
    height: 300px;
    margin-top:9px;
    margin-bottom: 4px;
    position: relative;
    left: 33%;
    top: 100px;
    border-radius: 10px;
}
.feedback{
    border: 3px solid grey;
    width: auto;
    height: 1500px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.docente{
    border: 3px solid grey;
    width: 350px;
    height: 370px;
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
    left: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.alumna{
    border: 3px solid grey;
    width: 350px;
    height: 370px;
    margin-top: 10px;
    margin-bottom: 3px;
    position: relative;
    left: 700px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
 }
 .alumno{
    border: 3px solid grey;
    width: 350px;
    height: 370px;
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
    left: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
 }
 .docente2{
    border: 2px solid grey;
    width: 200px;
    position: relative;
    bottom: 200px;
    left: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
 .textDocente{
    border: 2px solid grey;
    width: 300px;
    position: relative;
    bottom: 180px;
    left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.textAlumna{
    border: 2px solid grey;
    width: 300px;
    position: relative;
    bottom: 0px;
    left: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.alumna2{
    border: 2px solid grey;
    width: 200px;
    position: relative;
    bottom: 40px;
    left: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.alumno2{
    border: 2px solid grey;
    width: 200px;
    position: relative;
    bottom: 180px;
    left: 1030px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.textAlumno{
    border: 2px solid grey;
    width: 300px;
    position: relative;
    bottom: 150px;
    left: 1020px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.alumno-img{
    border-radius: 5px;
   width: 300px;
   height: 350px;
}
.alumna-img{
    border-radius: 5px;
   width: 300px;
   height: 350px;
}
.docente-img{
    border-radius: 5px;
   width: 300px;
   height: 350px;
}
.pic-destacados{
    border-radius: 5px;
    width: 280px;
    height: 280px;
    position: relative;
    bottom: 12px;
    left: 50px;
position: relative;
top: 10px;
}