*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Istok Web', sans-serif;
}

main{
    width: 100%;
    /* aca se le adiciona al 100% un paddin border y margin */
    height: 100%;
    border: 5px solid grey;
    padding: 20px 35px;  
    /* el primer digito es para arriba y abajo, 
    el segundo es para derecha e izquierda */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fff;
}


.body-main{
    margin-top: 30px;
    border: 3px solid black ;
    padding: 12px;
   





}

.main-concepto-container{

    border: 3px solid red ;
    
}

.titulo{  border: 3px solid red ; 
          margin: 10px; 
        text-align: center;
        }


.texto{  
       border:3px solid purple ;
       margin: auto;
       text-align:center;
       width: 350px;
       
}

.main-items{ border: 3px solid blue ;
             margin: auto;
             text-align: center;
             margin-top: 10px;
             width: 300px;
             margin-bottom: 10px;
             font-size: 13px;


}