*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Istok Web', sans-serif;
}

body {
    display: flex;
    margin: 1%;
    min-height: 35vh;
    flex-direction: column;
    background-color: #fff;
    align-items: left;
}

.container {
width: 1200px;
}

.iFooter {
  margin-top: 50px;
  width: 100% !important;
  height: 310px !important;
}
.logoBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 100px;
}

.menu {
    display: inline-block;
    padding: 10px;
    width: 150px;
    font-size: 16px;
    border-radius: 5px;
    color: solid #fff;
    background-color: #ff7700;
    align-items: center;
    margin-left: 50px;
}

.menu li {
    display: block;
    color: #fff;
    font-size:large;
} 

li {
    list-style: none;
    text-align: center;
}

.botonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
}

.boton {
    width: 100%;
    padding: 10px;
    margin-left: 50px;
    border: 2px solid #3452b2;
    background: #3452b2;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;    
}

.boton:hover{
    border: 2px solid #ff7700;
    color: #ff7700;
    background: none;
}

.total {
    color: #3452b2;
    font-size: large;
}

table {
    table-layout: fixed;
    margin-left: 50px;
    width: 80%;
    border-collapse:inherit;
    border: 3px solid  #3452b2;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    position:static; 
}

th, td {
    padding: 1px;
}

th {
    letter-spacing: 1px;
}
  
td {
    letter-spacing: 1px;
}
  
tbody td {
    text-align: center;
}
  
tfoot th {
    text-align: right;
}

.menuQ{
    width: 45px;
    height: 30px;
    font-size:medium;
    text-align: center;
}

.reseteo {
    height: 30px;
    width: 160px;
    background-color: lightslategray;
    color: #fff;
    border-color: lightslategray;
    border-radius: 5px;
    font-weight: 1000;
}

.pagar {
    height: 30px;
    width: 80px;
    background-color: #3452b2;
    color: #fff;
    border-radius: 5px;
    transition: 0.4s;
    border: #3452b2 2px solid;
}

.pagar:hover {
    border-radius: 90px;
    background-color: #fff;
    border: #ff7700 2px solid;
    color: #ff7700;
}

   