*{
    font-family: 'Istok Web', sans-serif;
    box-sizing: border-box;
}

.iFooter {
    margin-top: 50px;
    width: 100% !important;
    height: 340px !important;
}

.iHeader {
    width: 100% !important;
    height: 78px;
}



.columna1{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;
    /*border: 1px solid #000;*/
    padding: auto;
}

.titulo-libro{
    color:#5f6ef7;
    text-decoration: solid;
}

.autor-libro{
    color:#1a1b1b;
}

.fila2 div{
    display:flex;
    justify-content: space-between;
}

.columna2{
    position: relative;
    display: flex;
    flex-wrap: wrap;    
    justify-items: center;
    justify-content: space-around;
    /*border: 1px solid #000;*/
    padding: 5%;
}

.titulo-columna2-libro{
    color: burlywood;
}

.precio-libro{
    font-size: 20px;
    color: red;
}

.detail-product{
    padding: 5%;
    max-width: 100%;
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.iFooter {
    margin-top: 50px;
    width: 100% !important;
    height: 340px !important;
}

@media (min-width:768px){
      
}

@media (min-width:1000px){

}
