:root{
    --bs-azul: #3452b2;
    --bs-azulClaro: #6486f2;
    --bs-naranja: #ff7700;
    --bs-oscuro: #040615;
    --bs-gris: #f2f4f5;
    --bs-blanco: #ffffff;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Istok Web', sans-serif;
    box-sizing: border-box;
}

.boxContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.bookImageBox {
 
  position: relative;
  left: -30px;
}

.bookImg{
    display: flex;
    height: 300px;
    border-radius: 16px;
}

.libro{
    width: 50%;
    display: flex;
    flex-direction: column;
 }
 
.detallesBox{
    width: 100%;
    display: flex;
}

.detalles{
    margin-top: 30px;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.deta{
    font-weight: bold;
    width: 15%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.titulo-libro{
    color:#5f6ef7;
    text-decoration: solid;
}


.calificacion {
    font-size: large;
    text-align: left;
    margin-bottom: 10px;
}

.precio {
    height: 30px;
    width: 80px;
    background-color: var(--bs-azul);
    color: #fff;
    border-radius: 5px;
    transition: 0.4s;
    border: #3452b2 2px solid;
    margin-bottom: 20px;
}

.reseña {
    text-align: justify;
    width: 100%;
}

.botones{
    margin-top: 10px;
    height: 30px;
    width: 80px;
    background-color: var(--bs-naranja);
    color: #fff;
    border-radius: 5px;
    transition: 0.4s;
    border: var(--bs-naranja) 4px solid;
}

.boton-prod{
    margin-top: 10px;
    height: 60px;
    width: 80px;
    background-color: var(--bs-naranja);
    color: #fff;
    border-radius: 5px;
    transition: 0.4s;
    border: var(--bs-naranja) 4px solid;
}

.boton-prod:hover, .botones:hover {
    background-color: #fff;
    border: #ff7700 2px solid;
    color: #ff7700;
}



.opinion {
    margin-top: 50px;
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textOpinion{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
}
.icono{
    width: 100px;
    color:#ff7700;
}


@media (min-width:768px){
      
}

@media (min-width:1000px){

}
