*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    margin: 1%;
    min-height: 35vh;
    flex-direction: column;
    background-color: #fff;
}
.logoBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 100px;
}

section {
    padding: 10px 100px 20px;
    margin-right: auto;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    background-color: #3452b2;
    text-align: center;
}

.option {
    display: inline;
    padding: 10px 100px 20px;
    margin: auto;
    }    