*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Istok Web', sans-serif;
}

body {
    display: flex;
    margin: 1%;
    min-height: 35vh;
    flex-direction: column;
    background-color: #fff;
    align-items: flex-start;
}
.logoBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 100px;
}

section {
    display: inline-block;
    padding: 20px 30px;
    width: 150px;
    font-size: 16px;
    border-radius: 5px;
    color: rgb(5, 0, 0);
    background-color: #3452b2;
    align-items: center;
}

.option {
    display: inline-block;
    padding: 50px;
    margin: auto;
}    
.botonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.boton {
    width: 100%;
    padding: 20px;
    border: 2px solid #3452b2;
    background: #3452b2;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;    
}

.boton:hover{
    border: 2px solid #ff7700;
    color: #ff7700;
    background: none;
}