<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="icon" type="image/svg" href="/images/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/1bd3b3afa4.js"
      crossorigin="anonymous"
    ></script>
    <link href="./css/productDetail.css" rel="stylesheet" />
    <title>Detalle del Producto</title>
  </head>
  <body>
    <header>
      <iframe class="iHeader" src="./header.html" frameborder="0"></iframe>
    </header>

    <main> 
      
    

    <section>
      <div class="bookImage">
        <img src="/images/Book_Cover_Mockup.jpg" alt="Breve historia revolución industrial" />
      
      <article> 
      <div class="libro">
        
        <h1>Breve historia de la revolución industrial </h1>
        <p>
         7 calificaciones 
        </p>
        <p>
        <button type="button">7 USD</button>
        <br>
        <a href="">Agregar al carrito de compras</a>
        </p>
        <p> 
            La Revolución Industrial es el proceso más determinante de la historia reciente: <br>
            una narración vibrante plagada de victorias para la humanidad, <br>
            pero también de víctimas. <br>
            Nadie duda que las guerras o los enfrentamientos cambian el curso de la historia, <br>
            pero no es menos importante, para nuestra historia reciente, <br>
           el impacto que tuvo la Revolución Industrial tanto en la economía como en la política <br>
            o la estrategia militar de las naciones. 
          </p>
        </div>
        <div class="detalles">
          <p>número de paginas</p>
            <p><button>agregar icono</button></p>
            <br>
            <p>230 páginas</p>
          <p> orígen</p>
            <p><button>agregar icono</button></p> 
            <br>
            <p>español</p>
         <p>editorial</p>
            <p><button> agregar icono</button></p>
            <br>
            <p>nowtilus</p>
         <p>fecha de públicación</p>
            <p><button> agregar icono</button></p>
            <br>
            <p>18 de octubre de 2012</p>
        </div>


        </article>
         </section>
         <section> 
           <h1>
            opiniones editoriales
           </h1>
          <h2>
            sobre el autor
          </h2>
          <p>
            Luis E. Íñigo Fernández (Guadalajara, 1966),licenciado en Geografía e Historia por la Universidad <br>
            Complutense de Madrid, Doctor en Historia por la UNED,<br>
           ha recibido el Premio al Colegiado de Mejor Expediente Universitario del Ilustre Colegio de <br> 
           Doctores y Licenciados en Filosofía y Letras y en Ciencias de Madrid. <br>
           En la actualidad trabaja como Inspector de Educación tras casi dos décadas de experiencia <br>
           en la Enseñanza Secundaria en diferentes puestos.
           </p>

         </div>
        </section>
         </main>
       
     </body>

</html>
    